<figure><a href="assets/{{ name }}"><img src="assets/{{ name }}" alt="{{ caption }}" loading="lazy"></a><figcaption>{{ caption }}</figcaption><a class="full-size" href="assets/{{ name }}">View full-size screenshot</a></figure>
