<details class="definition" data-definition><summary>{{ key }} schema</summary><a href="{{ repo_url }}contracts/{{ name }}">Storage contract</a><table><tr><th>Column</th><th>Type</th></tr>{% for column, kind in fields %}<tr><td>{{ column }}</td><td>{{ kind }}</td></tr>{% endfor %}</table></details>
